.landing-image {
  background-image: url('https://testing-ebrahim.s3.us-east-2.amazonaws.com/Photo+(Landing+Page).jpg');
}

.icons-container {
  min-height: 60px!important;
}

.landing-icons {
  width: 50px;
}
