@font-face {
  font-family: 'manrope-regular';
  src: url(../fontfamily/manrope-regular.otf);
}
@font-face {
  font-family: 'manrope-medium';
  src: url(../fontfamily/manrope-medium.otf);
}
@font-face {
  font-family: 'manrope-semibold';
  src: url(../fontfamily/manrope-semibold.otf);
}
@font-face {
  font-family: 'manrope-bold';
  src: url(../fontfamily/manrope-bold.otf);
}
@font-face {
  font-family: 'manrope-semibold';
  src: url(../fontfamily/manrope-semibold.otf);
}

body {
  margin: 0;
  padding: 0;
  font-family: 'manrope-regular';
  padding-top: 70px;
  background: #FAFAFA;
}
.navbar-default {
  background-color: #FFF;
  margin-left: 200px;
}
.navbar-default .navbar-right li .ballIcon{
  font-size: 18px;
}
.ballIcon{
  margin-top: 4px;
}
.navbar-form{
  margin-left: 100px;
  margin-top: 12px;
}
.navbar-form .firstfield{
  border-radius: 15px 0 0 15px !important;
  width: 250px !important;
}
.navbar-form .form-control{
  border: 1px solid #E6E6E6;
  box-shadow: none !important;
}
.btn-search{
  border-radius: 20px;
  background-color:#ED7746;
  color: #fff;
  padding-bottom: 1px;
}
.btn-search i{
 font-size: 20px !important;
}

/*main side bar*/
.msb {
  width: 200px;
  background-color: #FFFFFF;
  position: fixed;
  left: 0;
  top: 0;
  right: auto;
  min-height: 100%;
  overflow-y: auto;
  white-space: nowrap;
  height: 100%;
  z-index: 1;
  box-shadow: 0 0 12px 4px #F6F5F6;
}
.msb .navbar {
  border: none;
  margin-left: 0;
  background-color: inherit;
}
.msb .navbar-header {
  width: 100%;
  border-bottom: 1px solid #e7e7e7;
  margin-bottom: 20px;
  background: #fff;
  height: 56px;
  padding-top: 4px;
}
nav.mnb.navbar.navbar-default.navbar-fixed-top {
  height: 56px;
}
.msb .navbar-nav .panel {
  border: 0 none;
  box-shadow: none;
  margin: 0;
  background: inherit;
}
.msb .navbar-nav li {
  display: block;
  width: 100%;
}
.msb .navbar-nav li a {
  padding: 12px 25px;
  color: #070403;
  font-family: 'manrope-medium';
}
.msb .navbar-nav li a:hover{
  color: #F88D24;
}
.msb .navbar-nav li a i{
 font-size: 18px !important;
 position: relative;
 top: 4px;
 right: 4px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
  background: none !important;
  color: #F88D24;
  box-shadow: 0 0 12px 4px #F6F5F6;
}
.msb .navbar-nav li a .feather, .msb .navbar-nav li a .feather {
  margin-right: 8px;
}
.msb .nb {
  padding-top: 5px;
  padding-left: 10px;
  margin-bottom: 30px;
  overflow: hidden;
}
ul.nv, ul.ns {
  position: relative;
  padding: 0;
  list-style: none;
}
.nv li {
  display: block;
  position: relative;
}
.nv li::before {
  clear: both;
  content: "";
  display: table;
}
.nv li a {
  color: #070403;
  padding: 10px 25px;
  display: block;
}
.nv li a .ic {
  font-size: 16px;
  margin-right: 5px;
  font-weight: 300;
  display: inline-block;
}
.nv .ns li a {
  padding: 10px 50px;
}
/*main content wrapper*/
.mcw {
  margin-left: 200px;
  position: relative;
  min-height: 100%;
 /*content view*/
}
.mcw {
  padding: 5px 35px;
}
/*globals*/
a, a:focus, a:hover {
  text-decoration: none;
}
.inbox .container-fluid {
  padding-left: 0;
  padding-right: 0;
}
.inbox ul, .inbox li {
  margin: 0;
  padding: 0;
}
.inbox ul li {
  list-style: none;
}
.inbox ul li a {
  display: block;
  padding: 10px 20px;
}
.msb, .mnb {
  -moz-animation: slidein 300ms forwards;
  -o-animation: slidein 300ms forwards;
  -webkit-animation: slidein 300ms forwards;
  animation: slidein 300ms forwards;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.mcw {
  -moz-animation: bodyslidein 300ms forwards;
  -o-animation: bodyslidein 300ms forwards;
  -webkit-animation: bodyslidein 300ms forwards;
  animation: bodyslidein 300ms forwards;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
body.msb-x .mcw, body.msb-x .mnb {
  margin-left: 0;
  -moz-animation: bodyslideout 300ms forwards;
  -o-animation: bodyslideout 300ms forwards;
  -webkit-animation: bodyslideout 300ms forwards;
  animation: bodyslideout 300ms forwards;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
body.msb-x .msb {
  -moz-animation: slideout 300ms forwards;
  -o-animation: slideout 300ms forwards;
  -webkit-animation: slideout 300ms forwards;
  animation: slideout 300ms forwards;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
/* Slide in animation */
@-moz-keyframes slidein {
  0% {
      left: -200px;
 }
  100% {
      left: 0;
 }
}
@-webkit-keyframes slidein {
  0% {
      left: -200px;
 }
  100% {
      left: 0;
 }
}
@keyframes slidein {
  0% {
      left: -200px;
 }
  100% {
      left: 0;
 }
}
@-moz-keyframes slideout {
  0% {
      left: 0;
 }
  100% {
      left: -200px;
 }
}
@-webkit-keyframes slideout {
  0% {
      left: 0;
 }
  100% {
      left: -200px;
 }
}
@keyframes slideout {
  0% {
      left: 0;
 }
  100% {
      left: -200px;
 }
}
@-moz-keyframes bodyslidein {
  0% {
      left: 0;
 }
  100% {
      margin-left: 200px;
 }
}
@-webkit-keyframes bodyslidein {
  0% {
      left: 0;
 }
  100% {
      left: 0;
 }
}
@keyframes bodyslidein {
  0% {
      margin-left: 0;
 }
  100% {
      margin-left: 200px;
 }
}
@-moz-keyframes bodyslideout {
  0% {
      margin-left: 200px;
 }
  100% {
      margin-right: 0;
 }
}
@-webkit-keyframes bodyslideout {
  0% {
      margin-left: 200px;
 }
  100% {
      margin-left: 0;
 }
}
@keyframes bodyslideout {
  0% {
      margin-left: 200px;
 }
  100% {
      margin-left: 0;
 }
}
.userIcon{
  height: 25px;
  margin-right: 15px;
}
.dotIcon{
 position: relative;
 top: -8px;
}
nav.mnb.navbar.navbar-default.navbar-fixed-top .nav>li>a{
 padding: 14px 6px !important;
}


/******** Dropdown ******/
.navbar-default .dropdown-menu.notify-drop {
  min-width: 330px;
  background-color: #fff;
  margin-top: 0px;
}
.navbar-default .dropdown-menu.notify-drop .notify-drop-title {
  border-bottom: 1px solid #e2e2e2;
  padding: 5px 15px 10px 15px;
}
.navbar-default .dropdown-menu.notify-drop .drop-content {
  min-height: 280px;
  max-height: 280px;
  overflow-y: scroll;
}
.navbar-default .dropdown-menu.notify-drop .drop-content::-webkit-scrollbar-track {
  background-color: #F5F5F5;
}
.navbar-default .dropdown-menu.notify-drop .drop-content::-webkit-scrollbar {
  width: 8px;
  background-color: #F5F5F5;
}
.navbar-default .dropdown-menu.notify-drop .drop-content::-webkit-scrollbar-thumb {
  background-color: #ccc;
}
.navbar-default .dropdown-menu.notify-drop .drop-content > li {
  border-bottom: 1px solid #e2e2e2;
  padding: 5px 0px 10px 0px;
  cursor: pointer;
}
.navbar-default .dropdown-menu.notify-drop .drop-content > li:after {
  content: "";
  clear: both;
  display: block;
}
.navbar-default .dropdown-menu.notify-drop .drop-content > li:hover {
  background-color: #fcfcfc;
}
.navbar-default .dropdown-menu.notify-drop .drop-content > li:last-child {
  border-bottom: none;
}
.navbar-default .dropdown-menu.notify-drop .drop-content > li .notify-img {
  display: inline-block;
  width: 45px;
  height: 45px;
  margin: 0px 0px 8px 0px;
}
.navbar-default .dropdown-menu.notify-drop .drop-content > li .notify-img img{
  width: 45px;
  height: 45px;
}
.navbar-default .dropdown-menu.notify-drop .allRead {
  margin-right: 7px;
}
.navbar-default .dropdown-menu.notify-drop .rIcon {
  float: right;
  color: #999;
}
.navbar-default .dropdown-menu.notify-drop .rIcon:hover {
  color: #333;
}
.navbar-default .dropdown-menu.notify-drop .drop-content > li a {
  font-size: 12px;
  font-weight: normal;
}
.navbar-default .dropdown-menu.notify-drop .drop-content > li {
  font-weight: bold;
  font-size: 11px;
  padding-bottom: 0;
}
.navbar-default .dropdown-menu.notify-drop .drop-content > li hr {
  margin: 5px 0;
  width: 70%;
  border-color: #e2e2e2;
}
.navbar-default .dropdown-menu.notify-drop .drop-content .pd-l0 {
  padding-left: 0;
}
.navbar-default .dropdown-menu.notify-drop .drop-content > li p {
  font-size: 13px;
  color: #A7A6AB;
  font-family: 'Brandon_med';
  font-weight: normal;
  margin: 3px 0;
}
.navbar-default .dropdown-menu.notify-drop .drop-content h5{
  margin-bottom: 0;
}
.navbar-default .dropdown-menu.notify-drop .drop-content > li p.time:hover {
  background-image: linear-gradient(#fff,#fff);
}
.navbar-default .dropdown-menu.notify-drop .notify-drop-footer {
  border-top: 1px solid #e2e2e2;
  bottom: 0;
  position: relative;
  padding: 8px 15px;
}
.navbar-default .dropdown-menu.notify-drop .notify-drop-footer a {
  color: #F88D24;
  text-decoration: none;
}
.navbar-default .dropdown-menu.notify-drop .notify-drop-footer a:hover {
  color: #ED7746;
}
.icon-bells{
  color: #DFDDDF !important;
  font-size: 22px !important;
}
.red-dot{
  background: #F88D24;
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 5px;
  position: relative;
  left: -15px;
  top: -12px;
}
/*** Dropdown ******/

.filterRight{
  float: right;
  margin-top: 10px;
}
.filterRight .menuDeals{
  list-style-type: none;
}
.filterRight .menuDeals li{
  display: inline;
  margin-right: 30px;
}
.filterRight .menuDeals li a img{
  margin-right: 10px;
}
.filterRight .menuDeals li a{
  color: #B6B5B5;
}
.filterRight .menuDeals li a span{
 position: relative;
 top: 6px;
}


.filterRight .menuDeals li a:hover{
  color: #F88D24;
}
.filterRight .menuDeals .active a{
  color: #F88D24;
}
.filterLeft h4{
  font-family: 'manrope-medium';
  color: #070403;
  margin-bottom: 0;
}
.filterLeft .dropdown-select {
  width: 160px;
  height: 34px;
  border-radius: 20px;
  background-color: #fff;
  border: 0;
  text-align: left;
  padding: 7.5px 15px;
  color: #ccc;
  letter-spacing: 0.7px;
  margin-top: 25px;
}
.filterLeft .caret {
  float: right;
  margin-top: 9px;
  display: block;
}
.filterLeft .dropdown-menu {
  width: 160px;
  padding: 0;
  margin: 0;
}
.filterLeft .dropdown button:hover, .dropdown button:focus {
  border: none;
  outline: 0;
}
.filterLeft .dropdown.open button#dLabel {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: none;
}
.filterLeft .dropdown-menu li {
  line-height: 1.5;
  letter-spacing: 0.7px;
  color: #666;
  font-size: 14px;
  cursor: pointer;
  padding: 7.5px 15px;
  border-top: solid 1px #f3f3f3;
}
.filterLeft .dropdown-menu li:hover {
  background-color: #ccc;
}
.filterLeft .pull-left{
  margin-right: 15px;
}
.filterRight .pull-left{
  margin-right: 10px;
}
.filterRight .dropdown-select{
  margin-top: 10px !important;
}
.slider-product{
  border-radius: 20px;
  cursor: pointer;
  background: #fff;
}
.owl-theme .owl-nav [class*=owl-]{
  background: #ffffff !important;
  color: #F88D24 !important;
  border-radius: 15px !important;
  padding-top: 3px !important;
  padding-right: 0 !important;
  padding-left: 0 !important;
  width: 30px;
  height: 30px;
}
.owl-prev, .owl-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.owl-prev {
  left: -3.5rem;
}
.owl-next {
  right: -3.5rem;
}
.slider-product img{
  width: 100% !important;
  margin: auto !important;
}
.product-description{
  padding: 10px 20px;
  padding-top: 10px;
  position: relative;
}
.heartbtn{
  position: absolute;
  top: -24px;
  right: 20px;
}
.heartbtn span{
 color: #fff;
 background: #F88D24;
 width: 25px;
 height: 25px;

 text-align: center;
 border-radius: 15px;
 font-size: 18px;
 padding-top: 3px;
} 

.heartbtn img{
  height: 25px;
}
.product-description h3{
  font-size: 17px;
  margin-top: 0;
  color: #070403;
  margin-bottom: 10px;
}
.product-description .orangeStar span{
  color: #F88D24;
  font-size: 18px;
}
.product-description p a{
  color: #F88D24;
  text-decoration: none;
}
.product-description p{
  color: #B6B5B5;
  line-height: 23px;
}
.meals-heading{
  color: #070403;
  font-family: 'manrope-medium';
  margin-top: 25px;
}
.owl-carousel{
  margin-top: 30px;
}
/************ Extras ***********/
.btnStyle {
  transform: translateZ(0) !important;
  backface-visibility: hidden !important;
  transition: 300ms ease-out !important;
}
.btnStyle:hover {
  transform: scale(0.9) !important;
}
.btnStyle2 {
  transform: translateZ(0) !important;
  backface-visibility: hidden !important;
  transition: 300ms ease-out !important;
}
.btnStyle2:hover {
  transform: scale(1.1) !important;
}
.mr0{
  margin-right: 0;
}
.ml5 {
  margin-left: 5px !important;
}
.ml7 {
  margin-left: 7px !important;
}
.ml10 {
  margin-left: 10px;
}
.ml15 {
  margin-left: 15px;
}
.ml20 {
  margin-left: 20px;
}
.ml30 {
  margin-left: 30px;
}
.ml40 {
  margin-left: 40px;
}
.ml50 {
  margin-left: 50px;
}
.ml100 {
  margin-left: 100px;
}
.mb5 {
  margin-bottom: 5px;
}
.mb10 {
  margin-bottom: 10px;
}
.mb15 {
  margin-bottom: 15px;
}
.mb20 {
  margin-bottom: 20px;
}
.mb30 {
  margin-bottom: 30px;
}
.mb40 {
  margin-bottom: 40px;
}
.mb100 {
  margin-bottom: 100px;
}
.mb150 {
  margin-bottom: 150px;
}
.mt5 {
  margin-top: 5px;
}
.mt10 {
  margin-top: 10px;
}
.mt15 {
  margin-top: 15px;
}
.mt20 {
  margin-top: 20px;
}
.mt30 {
  margin-top: 30px;
}
.mt40 {
  margin-top: 40px;
}
.mt50 {
  margin-top: 50px;
}
.mt60 {
  margin-top: 60px;
}
.mt70 {
  margin-top: 70px;
}
.mt80 {
  margin-top: 80px;
}
.mt100 {
  margin-top: 100px;
}
.mt-10 {
  margin-top: -10px;
}
.mt-20 {
  margin-top: -20px;
}
.mt-30 {
  margin-top: -30px;
}
.mt-40 {
  margin-top: -40px;
}
.mt-50 {
  margin-top: -50px;
}
.pt5 {
  padding-top: 5px;
}
.pt10 {
  padding-top: 10px;
}
.pt15 {
  padding-top: 15px;
}
.pt20 {
  padding-top: 20px;
}
.pt30 {
  padding-top: 30px;
}
/********* font-size **********/
.fbold {
  font-weight: 600;
}
.f11 {
  font-size: 11px;
}
.f12 {
  font-size: 12px;
}
.f13 {
  font-size: 13px;
}
.f14 {
  font-size: 14px !important;
}
.f15 {
  font-size: 15px;
}
.f16 {
  font-size: 16px;
}
.f17 {
  font-size: 17px;
}
.f18 {
  font-size: 18px;
}
.f19 {
  font-size: 19px;
}
.f20 {
  font-size: 20px;
}
.white {
  color: #fff !important;
}
.whiteMontbold {
  color: #fff;
  font-weight: bold;
}
.block{
  display: block;
}
@media only screen and (max-width: 767px){
  #msbo{
      margin-left: 15px;
 }
  .navbar-form{
      margin-left: 0;
 }
  .navbar-form .firstfield{
      width: auto !important;
 }
  .navbar-default .navbar-collapse, .navbar-default .navbar-form{
      background: #fff;
 }
  .nav>li{
      display: inline-block;
 }
  .mcw {
      padding: 5px 15px;
 }
  .filterLeft .pull-left {
      margin-right: 5px;
      width: 100%;
      float: none !important;
      display: block;
 }
  .filterLeft .dropdown-select{
      width: 100%;
      margin-top: 8px;
 }
  .filterRight .menuDeals {
      list-style-type: none;
      padding-left: 0;
      padding-top: 15px;
 }
  .owl-prev {
      left: -2rem;
 }
  .owl-next {
      right: -2rem;
 }
  .filterRight {
      float: none;
 }
  .menuDealsMob{
      display: flex !important;
      text-align: center !important;
 }
  .navbar-form{
      padding: 10px 0px;
 }
  div#navbar {
      display: none;
 }
  .navbar-default .navbar-toggle{
      display: none !important;
 }
}
@media (min-width: 768px) and (max-width: 991px){
  .navbar-form{
      margin-left: 30px;
 }
 /* .filterLeft .pull-left{
      margin-right: 15px;
      display: block;
      width: 45% !important;
 }
  .filterLeft .dropdown-select{
      width: 100% !important;
 }
  .filterLeft .dropdown-menu{
      width: 100%;
 }
  */
  .filterRight .menuDeals{
      display: none;
 }
  .filterLeft .pull-left {
      margin-right: 5px;
 }
  .filterLeft .dropdown-select{
      width: 130px;
      font-size: 11px;
      padding: 7.5px 10px;
 }
}
@media (min-width: 992px) and (max-width: 1199px){
  .filterRight {
      float: left;
 }
  .filterRight .menuDeals{
      padding-left: 0;
      margin-top: 10px;
 }
  .filterLeft .dropdown-select{
      padding: 7.5px 10px;
      width: 140px;
      font-size: 12px;
 }
  .filterRight .pull-left {
      margin-right: 5px;
 }
  .filterRight .dropdown-select{
      margin-top: 10px !important;
 }
}
@media (min-width: 1480px) and (max-width: 5120px){
  .container{
      width: 1440px !important 
 }
}
