$roboto: 'Roboto', sans-serif;
$roboto-slab: 'Roboto Slab', serif;
$montserrat: "Montserrat", san-serif;

$white-color: #fff;

$theme-color: #3799F3;
$border-light-grey: #A0ADBA;

$theme-text-color: #4F5460;
$theme-text-color-medium: #6E7482;

$grey-color-light-bg: #F4F5F8;
$grey-color-light: #EEF0F5;
$grey-color-md: #A0ADBA;
$grey-color-secondary: #6E7482;
$dark-grey: #4F5460;

$purple-color: #7642E5;
$green-color: #03f869;
$red-color: #EA5454;
$light-blue: #4EC1D0;
$yellow: #FF9900;
$green: #92C551;
$orange:#fa8d00;

$stroke-color: #CED7E1;
